#onLoad {
    position: fixed;
  display:block;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}
.hideScroll {
    overflow-x: hidden;
    overflow-y: hidden;
}
.intro {
text-align: center;
margin-top:1%;
margin-bottom: 2%;
}

.popUp {
   display: flex;
    margin-top: -5%;
    height: 35px;
    width:35px;
    object-fit:fill;
    border-style: solid;
    margin-left: 68%;
    border-color: black;
    margin-bottom: 3.5%;
    cursor:pointer;
}

.popUp:hover{
opacity:0.75;
}
.pop {
    display: flex;
     margin-top: -6.20%;
     height: 35px;
     width:35px;
     object-fit:fill;
     border-style: solid;
     margin-left:73%;
     border-color: black;
     margin-bottom: 3.5%;
     cursor:pointer;
 }
 .pop:hover {
   opacity: 0.75;
 }

#instructions {
    background-color: rgb(253, 3, 3);
    box-shadow: 1px 3px 4px 2px #888;
    display:flex(column);
    z-index: 50;   
    position:absolute;
    left: 25%;
    top: 35%;
    right:25%;
    text-align: center; 
}

#playAgain {
    background-color: rgb(253, 3, 3);
    box-shadow: 1px 3px 4px 2px #888;
    display:flex(column);
    z-index: 50;   
    position:absolute;
    left: 25%;
    top: 35%;
    right:25%;
    text-align: center; 
}

#invalid {
    background-color: rgb(253, 3, 3);
    box-shadow: 1px 3px 4px 2px #888;
    display:flex(column);
    z-index: 50;   
    position:absolute;
    left: 25%;
    top: 35%;
    right:25%;
    text-align: center; 
}

#row1, #row2, #row3, #row4, #row5 {
    display: flex;
} 

#box1-1, #box1-2, #box1-3, #box1-4, #box1-5, #box1-6, #box2-1, #box2-2, #box2-3, #box2-4, #box2-5, #box2-6, #box3-1, #box3-2, #box3-3, #box3-4, #box3-5, #box3-6, #box4-1, #box4-2, #box4-3, #box4-4, #box4-5, #box4-6, #box5-1, #box5-2, #box5-3, #box5-4, #box5-5, #box5-6 {
    height: 50px;
    width: 50px;
    border: 3px black;
    border-radius: 5px;
    border-style: solid;
    margin: 2px;
}

.input {
    text-align: center;
    font-size: 18px;
}
.inputRow{
    display:flex(column);
    align-items: center;
    margin: auto;
   transform: translateX(37.55%);
    text-align: center;
}

.keys {
    width: 60px;
    height: 30px;
    border: 3px black;
    border-radius: 5px;
    border-style: solid;
    margin:0.5% 0.1% 0.1% 0.1%;
    color: rgb(73, 73, 73);
    cursor:pointer;
    font-size: 18px;
}
.keys:hover {
    opacity: 0.75;
}

.infoDisplay {
margin-left:90%;
cursor: pointer;
margin-top: -5%;
}
.infoDisplay:hover {
    opacity: 0.75;
}
#enterButton, #deleteButton {
    width: 120px;
    height: 30px;
    border: 3px black;
    border-radius: 5px;
    border-style: solid;
    margin: 2px;
    color: rgb(73, 73, 73);
    cursor:pointer;
    font-size:18px;
    margin-top:0.5%;
}

#keyboard {
    margin-top: 2%;
    text-align: center;
}

.enders:hover{   
    opacity:0.75;
}

.playMore{
cursor:pointer;
text-align:center;
padding-top:1%;
display:flex;
padding: 3px 3px 3px 3px;
margin: 3px 3px 3px 3px;
background-color:rgb(222, 68, 68);
color:whitesmoke;
margin: 0.5% 0.5% 0.5% 0.5%;
justify-content: center;
}

.playMore:hover {
    opacity:0.75;
}
